.wrapper {
  font-size: 5rem;
  font-style: italic;
  font-weight: 700;
}

.value {
  color: var(--clr-primary-one);
  display: inline-block;
  margin-right: 1.2rem;
}

@media screen and (min-width: 841px) {
  .wrapper {
    font-size: 9.5rem;
    line-height: 9.5rem;
  }
}
